﻿<!DOCTYPE html>
@{ 
    int hour = DateTime.Now.Hour;
    int minutes = DateTime.Now.Minute;
    int seconds = DateTime.Now.Second;
    int milliseconds = DateTime.Now.Millisecond;
    int day = DateTime.Now.Day;
    int month = DateTime.Now.Month;
    int year = DateTime.Now.Year;
    var txt = DateTime.Now.DayOfWeek;
}
<html>
    <head>
        <title></title>
    </head>
    <body>
        <p>Today is @txt-@day.@month.@year.</p>
        <p>Время на сервере @hour часов @minutes минут @seconds секунд @milliseconds милисекунд. +)</p>
    </body>
</html>
